.parent {
    -fx-background-color: linear-gradient(#000000, #1a1300);
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
}

.pane {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
}

.label {
    -fx-text-fill: #cc9900;
}

.list-view {
    -fx-background-color: transparent;
    -fx-text-fill: #cc9900;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: #cc9900;
    -fx-border-width: 1px;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #cc9900;
}

.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-arrow {
    -fx-background-color: #cc9900;
}

.list-view .scroll-bar .decrement-button:hover,
.list-view .scroll-bar .increment-button:hover {
    -fx-background-color: #333300;

}

.list-view .scroll-bar .decrement-arrow:pressed,
.list-view .scroll-bar .increment-arrow:pressed {
    -fx-background-color: #000000;
}

.list-view .scroll-bar .decrement-button:pressed,
.list-view .scroll-bar .increment-button:pressed {
    -fx-background-color: #cc9900;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #cc9900;
}

.list-cell:focused {
    -fx-background-color: #cc9900;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: #cc9900;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #cc9900;
}

.button:pressed {
    -fx-background-color: #cc9900;
    -fx-text-fill: #000000;
    -fx-border-color: #000000;
}

.reversedButton {
    -fx-background-color: transparent;
    -fx-border-color: #cc9900;
    -fx-border-width: 0px 1px 1px 1px;
    -fx-text-fill: #cc9900;
}

.logoutButton {
    -fx-background-image: url('/images/logout.PNG');
    -fx-background-size: 25px;
    -fx-border-width: 0px;
}

.logoutButton:pressed {
    -fx-background-image: url('/images/logoutred.PNG');
    -fx-background-size: 25px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-base: transparent;
    -fx-text-background-color: #cc9900;
    -fx-text-size: 18px;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #cc9900;
}

.table-row-cell:selected {
    -fx-background-color: #cc9900;
    -fx-text-background-color: #000000;
}

.table-view-column {
    -fx-background-color: transparent;
    -fx-border-color: #cc9900;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #000000;
}

.buttonRequest {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #664d00;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: #cc9900;
    -fx-text-fill: #cc9900;
}

.listSearch {
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
}

.chatPane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 0px 1px;
    -fx-border-color: #cc9900;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #cc9900;
}

.scroll-pane .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar .increment-arrow {
    -fx-background-color: #cc9900;
}

.groupChatPane {
    -fx-background-color: transparent;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #cc9900;
}

.text-area .content {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
}

.text-area {
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
    -fx-text-fill: #cc9900;
    -fx-prompt-text-fill: #cc9900;
}

.sendButton {
    -fx-background-image: url("/images/send2-nobck.png");
    -fx-background-size: 32px;
    -fx-border-width: 0px;
}

.sendButton:pressed {
    -fx-background-image: url("/images/send2-black.png");
    -fx-background-size: 32px;
    -fx-background-color: #ffff00;
}

.chatVBox {
    -fx-border-width: 0px;
}

.closeButton {
    -fx-background-image: url("/images/X.png");
    -fx-background-size: 27px;
    -fx-border-width: 0px;
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}

.closeButton:pressed {
    -fx-background-image: url("/images/Xpressed.png");
    -fx-background-size: 27px;
    -fx-border-width: 0px;
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}

.hyperlink {
    -fx-text-fill: #cc9900;
    -fx-border-width: 0px;
}

.hyperlink:pressed {
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
}

.pdfOptionsPane {
    -fx-border-width: 1px 0px 1px 1px;
    -fx-border-color: #cc9900;
}


.radio-button {
    -fx-text-fill: #cc9900;
}


.radio-button {
    -fx-text-fill: #cc9900;
}

.radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
}

.radio-button:selected .dot {
    -fx-background-color: transparent;
}

.radio-button:selected .radio{
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-background-color: #cc9900;

}

.radio-button:armed .radio{
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-background-color: #cc9900;

}

.date-picker .arrow-button {
    -fx-background-color: #000000;
    -fx-background-image:url("/images/calendar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 20px;
}

.date-picker {
    -fx-background-color: #000000;
    -fx-text-fill: #cc9900;
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
}

.date-picker > .arrow-button > .arrow {
    -fx-opacity:0;
}

.date-picker-popup {
    -fx-background-color: #000000;
    -fx-border-color: #cc9900;
}

.date-picker .cell {
    -fx-background-color: #000000;
    -fx-text-fill: #cc9900;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #000000;
}

.date-picker-popup .day-cell {
    -fx-border-color: #cc9900;
}

.date-picker-popup .day-name-cell {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.activityList {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #cc9900;
}

.listViewLog .corner{
    -fx-background-color: transparent;
}

.panePopup {
    -fx-border-width: 4px;
    -fx-border-color: #cc9900;
    -fx-background-color: #000000;
}

.notificationButton {
    -fx-background-image: url("/images/not1.png");
    -fx-background-size: 22px;
    -fx-border-width: 0px;
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}

.notificationButton:pressed {
    -fx-background-image: url("/images/not2.png");
    -fx-background-size: 22px;
    -fx-border-width: 0px;
    -fx-border-color: #000000;
    -fx-background-color: #000000;
}

.listViewNotifications {
    -fx-background-color: #000000;
    -fx-border-color: #cc9900;
    -fx-border-width: 1px;
}

.buttonEventNotif {
    -fx-background-image: url("/images/notOnDim.png");
    -fx-background-size: 26px 27px;
    -fx-border-width: 0px;
    -fx-border-color: #000000;
    -fx-background-color: transparent;
}

.buttonEventNotif:pressed {
    -fx-border-width: 1px;
    -fx-border-color: #664d00;
    -fx-background-color: #4d3900;
}

.eventTextField {
    -fx-border-color: #cc9900;
}
