.parent {
    -fx-background-color: linear-gradient(#000000, #1a1300);
    -fx-border-width: 10px;
    -fx-border-color: #cc9900;
}

.credentialsTextField {
    -fx-background-color: transparent;
    -fx-border-color: #cc9900;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-prompt-text-fill: #cc9900;
    -fx-text-fill: #cc9900;
}

.button {
    -fx-background-color: #cc9900;
    -fx-text-fill: #000000;
}

.label {
    -fx-text-fill: #cc9900;
}

.button:pressed {
    -fx-background-color: #000000;
    -fx-text-fill: #cc9900;
    -fx-border-color: #cc9900;
}